
element.style {
    height: 100%;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-bar-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.socila-media-profile a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.navbar-container a.active {
    color: var(--main-color);
}
.navbar-container a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}