
element.style {
    height: 100%;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.heading {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}
.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form textarea {
    resize: none;
}
.contact form .input-card input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}
.contact form .button {
    margin-top: 2rem;
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-bar-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.socila-media-profile a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.navbar-container a.active {
    color: var(--main-color);
}
.navbar-container a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}
/* button */
.glowing-btn {
    margin: 100px;
    padding: 12px 38px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  
  .glowing-btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  /* glow */
  .glowing-btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #78048c,
      #48ff00,
      #00ffd5,
      #002bff,
      #ff00c8,
      #ff0000
    );
  
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  /* hover */
  .glowing-btn:hover::before {
    opacity: 1;
  }
  
  .glowing-btn:active:after {
    background: transparent;
  }
  
  .glowing-btn:active {
    color: #000;
    font-weight: bold;
  }
